body{
    background-color:rgb(28, 36, 75);
   
}
input[type=text]{
    background-color:grey;
    color:black;
    padding: 20px;
    width: 40%;
    box-shadow:2px 2px 5px black;
    margin: 20px;
}

#bigger{
    height:160px;
    background-color: rgb(7, 7, 41);
    color:white;
}

input[type=submit]{
    background-color:black;
    color: white;
    padding-top:30px;
    padding-bottom:30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
}

#contact{
    color:white;
    background-color:black;
    opacity:0.7;
    height: 900px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding-top: 120px;

}

#home{
    background-image:url("https://images.pexels.com/photos/234527/pexels-photo-234527.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: 100% 100%;
    height:700px;
    margin-bottom:10px;
    color: aliceblue;
    font-size:40px;
    text-align: center;
    padding-top:300px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

em{
    color: cornflowerblue;
}

#about>div{
    background-color: dodgerblue;
    border-radius: 50%;
    height: 130px;
    width: 130px;
     margin-left: 200px;
      
   
   
}
#about>div>h4{
    padding-top: 54px;
    text-align: center;
}

.flex1{ 
    display: inline-flex;
    justify-content: space-around;
    margin-top: 200px;

}

#about>p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    width: 160px;
    display:inline-flex;
    justify-content: space-around;
    
    
}

#portfolio h1,#about h1{
    text-align: center;
    margin-top:30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
}

#contact h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px
}

.projects{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    padding: 1px;
    font-size:24px;
    color:skyblue;
}
.description{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    padding: 1px;
}
.links{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    padding: 1px;
    text-decoration-line:none;
      
}
.links a{
    text-decoration-line:none;
    padding:20px;
    opacity:0.7;
    background-color:rgba(132, 230, 230, 0.637);
    margin-top:100px;
    color: rgba(17, 22, 22, 0.637);
}
.links a:hover{
    background-color:#5088f0;
}

.description{
    margin-left:100px;
    margin-top: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#last{
    text-align: center;
    font-size: 22px;
    margin-top: 160px;
    
    
}

form{
    font-style: italic;
}

img{
    height:300px;
    border-radius:50%;
}
nav{
    height: 90px;
    background-color:black;
    text-align: left;
    position: fixed;
    top:5px;
    width:100%;
}
nav ul{
    padding-top:30px;
}

nav ul li{
    display: inline-block;
    
    
}

nav ul li a{
    text-transform:uppercase;
    padding: 0 50px 40px 50px ;
    color:white;
    text-decoration: none;
    
}

nav ul li a:hover{
    color:red;
}
#about,#portfolio{
    background-color: white;
    height: 100%;
    
}
