body{
    background-color:rgb(28, 36, 75);
   
}
input[type=text]{
    background-color:grey;
    color:black;
    padding: 20px;
    width: 40%;
    box-shadow:2px 2px 5px black;
    margin: 20px;
}

#bigger{
    height:160px;
    background-color: rgb(7, 7, 41);
    color:white;
}

input[type=submit]{
    background-color:black;
    color: white;
    padding-top:30px;
    padding-bottom:30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
}

#contact{
    color:white;
    background-color:black;
    opacity:0.7;
    /* height: 900px; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    /* padding-top: 120px; */

}

#home{
    /* background-image: url("https://images.pexels.com/photos/276223/pexels-photo-276223.jpeg"); */
    /* background-image:url("https://images.pexels.com/photos/234527/pexels-photo-234527.jpeg"); */
    background-blend-mode: color;
    /* background-color: black; */
    margin-top: -25px;
    background-size: 100% 100%;
    height:1000px;
    margin-bottom:10px;
    color: aliceblue;
    font-size:40px;
    text-align: center;
    padding-top:400px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

em{
    /* color: cornflowerblue; */
    /* font-family: 'Courgette', cursive; */
}

#about>div>div{
    /* background-color: dodgerblue; */
    border-radius: 50%;
    height: 130px;
    width: 130px;
     margin-left: 70px;
     position:relative;
     top:-50px;
      
   
   
}
#about>div>h4{
    padding-top: 54px;
    text-align: center;
}

.flex1{ 
    display: inline-flex;
    justify-content: space-around;
    margin-top: 200px;

}

#about>p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    width: 130px;
    display:inline-flex;
    justify-content: space-around;
    position:relative;
    top:90px;
    left:-110px;

    
    
}

#portfolio h1,#about h1, #skills h1{
    text-align: center;
    margin-top:10px;
    padding-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
}

#contact h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-size: 60px; */
    padding-top: 20px;
    
}

.projects{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    padding: 1px;
    font-size:24px;
    color:rgb(2, 46, 63);
}
.description{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    padding: 1px;
}
.links{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    padding: 1px;
    text-decoration-line:none;
      
}
.links a{
    text-decoration-line:none;
    padding:20px;
    opacity:0.7;
    background-color:rgba(132, 230, 230, 0.637);
    margin-top:100px;
    color: rgba(17, 22, 22, 0.637);
}
.links a:hover{
    background-color:#5088f0;
}

.description{
    margin-left:100px;
    margin-top: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#last,#two{
    text-align: center;
    font-size: 22px;
    margin-top: 160px;
    
    
}

form{
    font-style: italic;
}

img{
    /* height:300px; */
    /* border-radius:50%; */
    /* float:left; */
}
nav{
    height: 90px;
    background-color:rgb(48, 47, 47);
    text-align: left;
    position: fixed;
    top:5px;
    width:100%;
}
nav ul{
    padding-top:30px;
}

nav ul li{
    display: inline-block;
    
    
}

nav ul li a{
    text-transform:uppercase;
    padding: 0 50px 40px 50px ;
    color:white;
    text-decoration: none;
    
}

nav ul li a:hover{
    color:dodgerblue;
}
#portfolio,#skills{
    background-color: white;
    height: 100%;
    
}
#about{
    background-color: white;
    height: 700px;
}

#abo{
    margin-top: 10%;
}

.proj{
    padding: 20px;
}
nav{
    z-index: 1;
}

#out h2{
    text-align: center;
    font-size: 30px;
}

.oerlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: gray;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
  }
  
  .container:hover .oerlay {
    bottom: 0;
    height: 100%;
  }

  .ovrlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: gray;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
  }
  
  .container:hover .ovrlay {
    bottom: 0;
    height: 100%;
  }
  .ovelay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: gray;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
  }
  
  .container:hover .ovelay {
    bottom: 0;
    height: 100%;
  }
  .overly {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: gray;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
  }
  
  .container:hover .overly {
    bottom: 0;
    height: 100%;
  }
  .overla {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: gray;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
  }
  
  .container:hover .overla {
    bottom: 0;
    height: 100%;
  }

  .icon{
      padding: 10px;
  }
  #skills h1,#contact h1{
      padding-bottom: 30px;
      /* border-bottom: 2px solid black;
      width: 100px;
      text-align: center; */
  }

  .im{
      width: 100%;
  }
  .card-body{
      /* background-color: black; */
      border-radius: 10px;
      
  }
/* .card-heading{
    background-color: black;
    color: white;
} */

@keyframes example {
    0%   { left:0px; top:0px;}
    25%  { left:200px; top:0px;}
    50%  { left:200px; top:200px;}
    75%  { left:0px; top:200px;}
    100% { left:0px; top:0px;}
  }
  
  /* The element to apply the animation to */
  .i{
    /* width: 100px; */
    /* height: 100px; */
    position: relative;
    /* background-color: red; */
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
 /* .ico:hover{
      width: 90%;

  } */

  #home {
	width: 100wh;
	height: 1000px;
	color: #fff;
	background: linear-gradient(-45deg, #000000, grey, #000000, darkgray);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

h4,
h6 {
	font-family: 'Open Sans';
	font-weight: 300;
	text-align: center;
	position: absolute;
	top: 45%;
	right: 0;
	left: 0;
}


